<!doctype html>
<html lang="es">
  <meta http-equiv="Content-Language" content="es" />

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- key words for search engines -->
    <meta
      name="keywords"
      content="Cristian Albor, Cristian's portfolio, portafolio cristian albor, portafolio Cristian albor"
    />
    <meta name="description" content="" />
    <meta name="author" content="Cristian Albor" />
    <link
      rel="shortcut icon"
      href="/public/img/whiteLogo.png"
      type="image/x-icon"
    />
    <title>Pets</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/css/styles.min.css" />
  </head>
  <body>
    <header>
      <a href="#" class="brand">
        <img
          src="/public/img/whiteLogo.png"
          alt="Logo de CaapDev"
          class="logo"
        />
        <span>crapdev</span>
      </a>

      <nav id="nav-menu">
        <a href="#">Home</a>
        <a href="/index.html">Portfolio</a>
      </nav>

      <button id="nav-toggle">≡</button>
    </header>
    <main>
      <section id="#pets">
        <h2>PETS</h2>

        <div class="pets-container">


          <div class="pet">
            <img src="/public/img/pet.avif" alt="pet 1" />
            <div class="card-content">
              <h3>Pastor Aleman</h3>
              <p>
                El Pastor Alemán es una de las razas más inteligentes, versátiles
                y leales del mundo.
              </p>
            </div>
          </div>

          <div class="pet">
            <img src="/public/img/pet.avif" alt="pet 1" />
            <div class="card-content">
              <h3>Pastor Aleman</h3>
              <p>
                El Pastor Alemán es una de las razas más inteligentes, versátiles
                y leales del mundo.
              </p>
            </div>
          </div>

          <div class="pet">
            <img src="/public/img/pet.avif" alt="pet 1" />
            <div class="card-content">
              <h3>Pastor Aleman</h3>
              <p>
                El Pastor Alemán es una de las razas más inteligentes, versátiles
                y leales del mundo.
              </p>
            </div>
          </div>

          <div class="pet">
            <img src="/public/img/pet.avif" alt="pet 1" />
            <div class="card-content">
              <h3>Pastor Aleman</h3>
              <p>
                El Pastor Alemán es una de las razas más inteligentes, versátiles
                y leales del mundo.
              </p>
            </div>
          </div>

          <div class="pet">
            <img src="/public/img/pet.avif" alt="pet 1" />
            <div class="card-content">
              <h3>Pastor Aleman</h3>
              <p>
                El Pastor Alemán es una de las razas más inteligentes, versátiles
                y leales del mundo.
              </p>
            </div>
          </div>

          <div class="pet">
            <img src="/public/img/pet.avif" alt="pet 1" />
            <div class="card-content">
              <h3>Pastor Aleman</h3>
              <p>
                El Pastor Alemán es una de las razas más inteligentes, versátiles
                y leales del mundo.
              </p>
            </div>
          </div>



        </div>
      </section>
    </main>
    <footer>
      <p>© 2026 Cristian Albor — Todos los derechos reservados.</p>
    </footer>

    <script src="/src/js/script.js"></script>
  </body>
</html>
