* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #070f21;
    --green: #22cfab;
    --pale-green: #22cfab99;
    --text-color: #fff;
    /* --font-family:  sans-serif; */
}

html {
    scroll-behavior: smooth;
}

body {
    display: block;
    background-color: var(--background-color);
    /* background: linear-gradient(90deg,#121212, #121212, #001d00, #121212, #121212 ); */
}

/* estilos del header */
header {
    position: sticky;  /* Nos permite fijar el header en la parte superior del viewport */
    top: 0; /* Asegura que el header se quede en la parte superior */
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(18, 18, 18, 0.08);
    backdrop-filter: blur(10px);
}


/* Styles for mobile devices */
@media (max-width: 768px){

    .brand {
        display: flex;
        align-items: center;
        margin-left: 1.5rem;
        text-decoration: none;
    }
    .logo {
        height: 3rem;
        width: auto;
        margin: 0 0;
    
    }
    .brand span{
        color: #fff;
    }


    /* styles for the navigation menu */
    #nav-menu {
        display: none;
    }
    /* cambiar el color del background-color a un gris --------- */
    #nav-menu.active {
        height: 10rem;
        min-width: 200px;
        position: absolute;
        top: 12vh;
        right: 5vw;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(50px);
    }
    #nav-menu a {
        text-decoration: none;
        color: #fff;
        padding: 8px 25px;
        font-size: 1.1rem;
        font-weight: bold;
    }
    /* styles for the navigation toggle */
    #nav-toggle {
        background: none;
        border: none;
        color: #fff;
        font-size: 2.1rem;
        margin-right: 1.5rem;
    }
    
    #nav-toggle.active {
        font-size: 1.5rem;
    }
    
}


/* styles for desktop */
@media (min-width: 768px) {
    
    .brand {
        display: flex;
        align-items: center;
        margin-left: 4rem;
        text-decoration: none;
    }
    .logo {
        height: 4rem;
        width: auto;
    }
    .brand span{
        color: #fff;
        font-size: 1.2rem;
        margin: 0 0 0.3rem 0;
    }
    /* header{
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
    } */
     /* styles for the navigation menu */
    #nav-menu {
        display: flex;
        align-items: center;
        height: 6vh;
        width: auto;
        padding: 0 1rem;
        margin-right: 7rem;
        border-radius: 40px;
        box-shadow: 0 0 8px #22cfab99;
        align-self: center;
    }
    #nav-menu a {
        margin: 0 1rem;
        font-size: 1rem;
        text-decoration: none;
        color: #fff;
    }

    /* styles for the navigation toggle */
    #nav-toggle {
        display: none;
    }
    
}