@import url('/src/css/global.css');
/* box-shadow: 0 0 10px #fff, 0 0 20px #0ff, 0 0 30px #0ff;  */
/* background: linear-gradient(130deg,#fff, #003300, #070f21 ); */
/* para los botones */
/* background-image: linear-gradient(90deg, #22cfab, #0057a7); */
/* ox-shadow: 0 0 10px #22cfab; */


body {
    display: flex;
    flex-flow: column;
}


main {
    display: block; 
}
section{
    display: block;
    unicode-bidi: isolate;
    margin: 9vh 0;
    padding: 0 10vw;
    height: auto;
    scroll-margin-top: 10vh;
    color: var(--text-color);
}

/* first section */
#welcome{  
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 2rem;
}
.text-container{
    display: inherit;
    row-gap: 0.8rem;
    
}
h1{
    font-size: 2rem;
}
.text-container p{
    line-height: 1.4rem;
}
.photo-container img{
    border-radius: 10px;
    box-shadow: 0 0 10px var(--pale-green);
    border-radius: 20px;
}

/* second section */

.stack{
    margin-top: 5vh;
    display: flex;
    flex-flow: row wrap;
    /* border: 1px solid #fff; */
    align-items: center;
    justify-content: center;
    row-gap: 2vh;
    gap: 2vh;
}
.stack div{
    width: 3.3rem;
    padding: 1.2vh;
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid var(--glow-color);
    border-radius: 8px; 
    box-shadow: 
        0 0 20px var(--glow-color),        /* external */
        inset 0 0 10px var(--glow-color);  /* Inner */
    transition: transform 0.3s ease;

}
.stack div:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 35px var(--glow-color), inset 0 0 15px var(--glow-color);
}
.stack div svg{
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0 0 15px var(--glow-color));
}
.stack div img{
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0 0 15px var(--glow-color));
}



/* third section */
#proyects{
    display: block;
}
#proyects h2{
    font-size: 1.8rem;
    
}
.proyects-container{
    margin-top: 5vh;
}
.proyects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
}
/* styles for each proyect */
.proyect-container {
    text-decoration: none;
    color: var(--text-color);
    border-radius: 20px;
    padding: 1.5rem;
    background-image: linear-gradient(45deg, #070f21 16%, #0169b9);
}
.card-content div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.card-content div img{
    width: 2.8rem;
}
.card-content h3{
    font-size: 1.1rem;
}

.card-content p{
    margin-top: 10px;
    font-size: 1rem;
}

.proyect-container img{
    border-radius: 20px;
}

/* footer's styles */
footer {
    width: 10vw;
}
/* Tablets */
@media (min-width: 768px) {
    #welcome{
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
}

/* Laptops  */
/* @media (min-width: 992px) {
    body {
        font-size: 18px;
        
    }
} */

/* Escritorios grandes  */
/* @media (min-width: 1200px) {
    body {
        font-size: 20px;
        
    }
    main{
        border: 1px solid #ffffff;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a{
        border: 1px solid #ffffff;
    }
    nav{
        display: flex;
        border: 1px solid #ffffff;
    }
    #nav-toggle{
        display: none;
    }
} */

/* .bi{
    border: 1px solid #ffffff;
    fill: #0ae98a;

} */